<ion-content>
    <div class="divToolbar">
        <div>
            <img class="imgLogoTitulo" src="../../assets/imgs/logo-cimef.png">
        </div>
        <div class="divBotoes">
            <a class="aSlide" (click)="abrirPagina('/')">Home</a>
            <a class="aSlide" (click)="abrirPagina('/empresa')">Empresa</a>
            <a class="aSlide" (click)="abrirPagina('/produto')">Produtos</a>
            <a class="aSlide" (click)="abrirPagina('/assistencia-tecnica')">Assistência Técnica</a>
            <a class="aSlide" (click)="abrirPagina('/depoimento')">Depoimentos</a>
            <a class="aSlide" (click)="abrirPagina('/video')">Vídeos</a>
            <a class="aSlide" (click)="abrirPagina('/noticia')">Notícias</a>
            <a class="aSlide" (click)="abrirPagina('/fale-conosco')">Fale Conosco</a>
        </div>
        <div class="divContato">
            <div style="margin-right: 25px;">
                <ion-icon class="iconTelefone" name="call"></ion-icon> 55 (28) 3521-2433
            </div>
            <div class="divBarrinha"></div>
            <div style="margin-left: 25px;">
                <ion-icon class="iconContato" name="logo-instagram"></ion-icon>
                <ion-icon class="iconContato" name="logo-facebook"
                    (click)="abrirUrl('https://www.facebook.com/cimef.metalurgia')"></ion-icon>
            </div>
        </div>
    </div>
    <div>
        <div class="divImgToolbar"></div>
        <img class="imgToolbar" src="../../assets/imgs/tear.png">
    </div>

    <div class="divAssistencia">
        <div>
            <p class="pAssistencia">ASSISTÊNCIA TÉCNICA</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <div class="divTextoAssistencia">
            <p>Você sabe qual o prejuízo de um dia de máquina parada na sua empresa? A assistência técnica da sua
                máquina está ao seu lado para atendê-lo prontamente? </p>
            <p>As máquinas e equipamentos Cimef possuem a mais competente assistência técnica do mercado. O
                atendimento é rápido e eficaz.</p>
            <p>A preocupação da empresa com este serviço começa na produção das máquinas, onde a qualidade do
                material
                e todos os processos são inspecionados. A Assistência Técnica atua na montagem final e up-grade de
                máquinas e equipamentos, montagem elétrica, manutenção interna e desenvolvimento de automações.</p>
            <p>A Cimef disponibiliza minucioso laudo técnico para que a empresa possa evitar que o problema ocorra
                novamente.</p>
        </div>

        <div>
            <p class="pAssistencia">MANUTENÇÃO PREVENTIVA</p>
            <div class="divLinhaEmbaixo"></div>

            <div class="divTextoAssistencia">
                <p>A Cimef oferece a seus parceiros um completo programa de manutenção preventiva das máquinas que
                    produz,
                    por meio da distribuição de manuais com informações e procedimentos de manutenção, lubrificação,
                    limpeza, conservação e funcionamento, além de repassar instruções técnicas aos funcionários que vão
                    operá-las.</p>
                <p>A empresa estimula seus parceiros a programar, periodicamente, a parada da máquina para manutenção.
                    Desta forma, aumenta-se a vida útil e diminui-se os custos de operação do equipamento.</p>
                <p> As Máquinas e Tecnologias Cimef tem a melhor relação CUSTO X BENEFÍFIO, a melhor qualidade e a mais
                    competente assistência técnica.</p>
            </div>
        </div>
    </div>

    <ion-grid class="gridFooter">
        <ion-row style="margin-top: 80px">
            <ion-col>
                <p class="pMenuTitulo">MENU</p>
                <div class="divBordaTitulo"></div>

                <ul style="padding-inline-start: 20px; font-size: 14px">
                    <li style="cursor:pointer" (click)="abrirPagina('/')">Home</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/empresa')">Empresa</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/produto')">Produtos</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/assistencia-tecnica')">Assistência Técnica</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/depoimento')">Depoimentos</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/noticia')">Notícias</li>
                    <li style="cursor:pointer" (click)="abrirPagina('/fale-conosco')">Fale Conosco</li>
                </ul>
            </ion-col>
            <ion-col>
                <p class="pMenuTitulo">COMO CHEGAR</p>
                <div class="divBordaTitulo"></div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco">Av. Francisco Mardegan, 42 - Boa Vista</p>
                    <p class="pEndereco">Cachoeiro de Itapemirim - ES - Brasil</p>
                    <p class="pEndereco">CEP 29315-477</p>
                    <p class="pEndereco">Caixa Postal - 22</p>
                </div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco">Acesse o Mapa</p>
                </div>
            </ion-col>
            <ion-col>
                <p class="pMenuTitulo">ENTRE EM CONTATO</p>
                <div class="divBordaTitulo"></div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco"> 55 28 3521-2433 </p>
                    <p class="pEndereco"> cimef@cimef.com.br </p>
                </div>

                <p class="pMenuTitulo" style="margin-top: 40px">MÍDIAS SOCIAIS</p>
                <div class="divBordaTitulo"></div>

                <div>
                    <ion-icon class="iconFooter" name="logo-instagram"></ion-icon>
                    <ion-icon class="iconFooter" name="logo-facebook"></ion-icon>
                </div>
            </ion-col>
            <ion-col class="colLogo">
                <img src="../../assets/imgs/logo-cimef-cinza.png">
                <div style="margin-top: 20px">
                    <p class="pDireitos">© 2019 Cimef Metalúrgica.</p>
                    <p class="pDireitos">Todos Direitos Reservados</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="divBarrasFooter">
        <img class="imgBarrasFooter" src="../../assets/imgs/footer-marca.png">
    </div>
</ion-content>