<app-header-footer style="height: 100%">

    <div class="divAssistencia">
        <div>
            <p class="pAssistencia">ASSISTÊNCIA TÉCNICA</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <div class="divTextoAssistencia">
            <p>Você sabe qual o prejuízo de um dia de máquina parada na sua empresa? A assistência técnica da sua
                máquina está ao seu lado para atendê-lo prontamente? </p>
            <p>As máquinas e equipamentos Cimef possuem a mais competente assistência técnica do mercado. O
                atendimento é rápido e eficaz.</p>
            <p>A preocupação da empresa com este serviço começa na produção das máquinas, onde a qualidade do
                material
                e todos os processos são inspecionados. A Assistência Técnica atua na montagem final e up-grade de
                máquinas e equipamentos, montagem elétrica, manutenção interna e desenvolvimento de automações.</p>
            <p>A Cimef disponibiliza minucioso laudo técnico para que a empresa possa evitar que o problema ocorra
                novamente.</p>
        </div>

        <div>
            <p class="pAssistencia">MANUTENÇÃO PREVENTIVA</p>
            <div class="divLinhaEmbaixo"></div>

            <div class="divTextoAssistencia">
                <p>A Cimef oferece a seus parceiros um completo programa de manutenção preventiva das máquinas que
                    produz,
                    por meio da distribuição de manuais com informações e procedimentos de manutenção, lubrificação,
                    limpeza, conservação e funcionamento, além de repassar instruções técnicas aos funcionários que vão
                    operá-las.</p>
                <p>A empresa estimula seus parceiros a programar, periodicamente, a parada da máquina para manutenção.
                    Desta forma, aumenta-se a vida útil e diminui-se os custos de operação do equipamento.</p>
                <p> As Máquinas e Tecnologias Cimef tem a melhor relação CUSTO X BENEFÍFIO, a melhor qualidade e a mais
                    competente assistência técnica.</p>
            </div>
        </div>
    </div>
</app-header-footer>