<app-header-footer style="height: 100%">
    <div class="divVideo">
        <div>
            <p class="pVideo">VÍDEOS</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <div style="position: relative">
            <ion-slides [options]="optionsSlide" #slideFoto>
                <ion-slide *ngFor="let aux of listVideos">
                    <iframe style="margin-left: 10px;" width="560" height="315" [src]="aux.url | safe" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </ion-slide>
            </ion-slides>

            <div class="divSetaEsquerda" (click)="moverSlide(false)" *ngIf="listVideos.length > 3">
                <ion-icon name="ios-arrow-dropleft"></ion-icon>
            </div>
            <div class="divSetaDireita" (click)="moverSlide(true)" *ngIf="listVideos.length > 3">
                <ion-icon name="ios-arrow-dropright"></ion-icon>
            </div>
        </div>
    </div>
</app-header-footer>