<app-header-footer style="height: 100%">
    <div class="divProduto">
        <div (click)="voltar()" style="cursor: pointer">
            <p class="pTituloProduto">{{produto?.categoria?.nome}} - {{produto?.nome}}</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col size="12" size-sm="7">
                    <div *ngIf="produto?.video">
                        <iframe [width]="width" [height]="height" [src]="produto?.video | safe" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div>
                        <img [src]="produto?.imagem">
                    </div>

                    <ion-grid>
                        <ion-row>
                            <ion-col *ngFor="let aux of produto?.imagens" size="4" size-sm="3" (click)="abrirImagem()"
                                style="height: 200px">
                                <div class="divImagemProduto">
                                    <img [src]="aux?.url" class="imgProduto">
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>

                <ion-col size="12" size-sm="5">
                    <div [innerHTML]="produto?.texto" class="divTextoProduto">
                    </div>

                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</app-header-footer>