.divProduto {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pTituloProduto {
    font-size: 50px;
    color: #666666;
    margin-block-end: 0;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 3px;
}

.divTextoProduto {
    padding-right: 50px;
}

.divImagemProduto {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    margin-bottom: 150px;
}

.divBackgroundCinza {
    width: 520px;
    height: 402px;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
}

.imgProduto {
    height: 128px;
    object-fit: cover;
}

.pImagens {
    color: white;
    top: calc(50% - 80px);
    font-size: 40px;
    position: relative;
    text-align: center;
}

.pSubTituloImagem {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: var(--primary)
}

td {
    background: #f1f1f1;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

table {
    border-collapse: separate;
    border-spacing: 2px;
}

@media(max-width: 1700px) {
    .pTituloProduto {
        font-size: 40px;
    }

    .divProduto {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 1000px) {
    .divProduto {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .divTextoProduto {
        padding-right: 0px;
    }
}