//********************************************************************************************************
// Empresa
//********************************************************************************************************

.divEmpresa {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: justify;
}

.pEmpresa {
    font-size: 50px;
    color: #666666;
    margin-block-end: 0;
    margin-left: 5px;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.colDescricao {
    font-size: 14px;
    padding-left: 30px;
}

.imgEmpresaDestaque {
    object-fit: cover;
    height: 389px;
    width: 520px;
    object-position: center;
    box-shadow: -4px 4px 45px -15px rgba(0, 0, 0, 0.75);
}

.gridEmpresaDestaque {
    width: 1140px
}

.imgSlideEmpresa {
    width: 700px;
    height: 525px;
    object-fit: cover;
    object-position: center;
    position: relative;
    margin-top: 20px;
}

.divSetaDireita {
    height: 70px;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

.divSetaEsquerda {
    height: 70px;
    left: 10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

@media(max-width: 1700px) {
    .pEmpresa {
        font-size: 40px;
    }

    .divEmpresa {
        padding-left: 50px;
        padding-right: 50px;
    }

    .imgSlideEmpresa {
        right: unset;
        height: 450px;
        width: 100%;
    }

    .colDescricao {
        padding-left: 30px;
    }

    .divSetaEsquerda {
        position: absolute;
        font-size: 70px;
        color: white;
        top: 200px;
        left: 10px;
        background: rgba(0, 0, 0, 0.6);
        height: 72px;
        cursor: pointer;
        z-index: 99;
    }

    .divSetaDireita {
        position: absolute;
        font-size: 70px;
        color: white;
        top: 200px;
        right: 10px;
        background: rgba(0, 0, 0, 0.6);
        height: 72px;
        cursor: pointer;
        z-index: 99;
    }

    .gridEmpresaDestaque {
        margin: unset;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 1000px) {
    .divEmpresa {
        padding-left: 10px;
        padding-right: 10px;
        width: unset;
    }

    .gridEmpresaDestaque {
        margin: unset;
        padding-left: unset;
        padding-right: unset;
        width: 100%;
    }

    .colDescricao {
        padding-left: 0px;
    }
}