//********************************************************************************************************
// TOOLBAR
//********************************************************************************************************

.aSlide {
    color: black;
}

.iconContato {
    color: black;
}

.divContato {
    color: black;
}

.iconTelefone {
    color: black
}

.divBarrinha {
    border-color: black;
}

.imgToolbar {
    height: 300px;
    width: 1920px;
    object-fit: cover;
}

.divToolbar {
    height: 150px;
    position: relative;
    padding-top: 15px;
}

.divImgToolbar {
    background: rgba(30, 30, 30, 0.5);
    position: absolute;
    height: 300px;
    width: 1920px;
}

//********************************************************************************************************
// Empresa
//********************************************************************************************************

.divEmpresa {
    padding-left: 150px;
    padding-right: 150px;
}

.pEmpresa {
    font-size: 50px;
    color: #666666;
    margin-block-end: 0;
    margin-left: 5px;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.colDescricao {
    font-size: 14px;
}

.imgEmpresaDestaque {
    object-fit: cover;
    height: 389px;
    width: 520px;
    object-position: center;
    box-shadow: -4px 4px 45px -15px rgba(0,0,0,0.75);
}

.gridEmpresaDestaque {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.imgSlideEmpresa {
    width: 700px;
    height: 525px;
    object-fit: cover;
    object-position: center;
    position: relative;
    right: 43px;
    margin-top: 20px;
}

