<app-header-footer style="height: 100%">
    <div class="divEmpresa">
        <div>
            <p class="pEmpresa">EMPRESA</p>
            <div class="divLinhaEmbaixo"></div>
        </div>


        <ion-grid styme="margin-top: 50px">
            <ion-row>
                <ion-col size="12" size-sm="6">
                    <ion-slides #slideFoto>
                        <ion-slide *ngFor="let aux of listEmpresas">
                            <img class="imgSlideEmpresa" [src]="aux.url">
                            <div class="divBotaoEsquerdo"></div>
                            <div class="divBotaoDireito"></div>
                        </ion-slide>
                    </ion-slides>

                    <div class="divSetaEsquerda" (click)="moverSlide(false)">
                        <ion-icon name="ios-arrow-dropleft"></ion-icon>
                    </div>
                    <div class="divSetaDireita" (click)="moverSlide(true)">
                        <ion-icon name="ios-arrow-dropright"></ion-icon>
                    </div>
                </ion-col>
                <ion-col size="12" size-sm="6" class="colDescricao">
                    <p>A Cimef é uma das maiores fabricantes de máquinas e soluções tecnológicas para o setor de rochas
                        ornamentais e uma das mais importantes empresas do setor metalmecânico do Brasil e América
                        Latina.</p>

                    <p> Com o seu parque industrial instalado no principal centro produtor, beneficiador e exportador de
                        rochas ornamentais do país, Cachoeiro de Itapemirim, Espírito Santo, a Cimef se orgulha de
                        trabalhar para inovar na qualidade e tecnologia das máquinas que produz.</p>

                    <p>Com vários anos de experiência no mercado, a solidez com que foi estruturada pelo suíço Hans
                        Beerli e o alemão Heinz Kaschner, seus fundadores, e o princípio de inovar sempre, transformaram
                        a empresa em líder e referência de qualidade em seu setor.</p>

                    <p> No final dos anos 60, a região vivia um impasse. Mesmo com a presença das jazidas, não se
                        beneficiava a pedra, pela falta de máquinas. E não se produziam máquinas, por falta de demanda.
                        Os fundadores quebraram este paradigma ao fundar a Cimef, que viabilizou a instalação deste pólo
                        do mármore e granito. Atualmente Cachoeiro de Itapemirim tem a maior concentração de teares do
                        mundo: de cada 2 teares do Brasil, 1 é da Cimef.</p>

                    <p> O know how tecnológico e as soluções de vanguarda propostas pela Cimef agregam valor aos
                        produtos e serviços de seus clientes e parceiros, tornando-os mais competitivos, e satisfazem as
                        múltiplas exigências dos mercados nacional e internacional.</p>

                    <p> A Cimef desenvolve uma completa e eficiente linha de máquinas, como os teares Beka Tech e as
                        Politrizes Multicabeças CPC, e se diferencia por oferecer soluções em projetos, automação,
                        adaptações e periféricos para atender necessidades específicas da sua empresa, além da mais
                        competente assistência técnica do mercado.</p>

                    <p> A Cimef gera pesquisas, investimentos, oportunidades, empregos, negócios, desenvolvimento
                        econômico e humano, com responsabilidade social e ambiental.</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-grid class="gridEmpresaDestaque">
        <ion-row>
            <ion-col *ngFor="let aux of listEmpresasDestaque" size="12" size-sm="4" >
                <img class="imgEmpresaDestaque" [src]="aux.url">
            </ion-col>
        </ion-row>
    </ion-grid>

</app-header-footer>