<app-header-footer style="height: 100%">

    <div class="divFaleConosco">
        <div>
            <p class="pFaleConosco">FALE CONOSCO</p>
            <div class="divLinhaEmbaixo"></div>
        </div>


        <ion-grid style="margin-top: 30px; padding: 0">
            <ion-row>
                <ion-col size="6">
                    <ion-grid>
                        <ion-row>
                            <ion-item style="width: 90%; --border-width: 0;">
                                <ion-input class="inputContato" placeholder="Seu Nome Completo"></ion-input>
                            </ion-item>
                        </ion-row>
                        <ion-row>
                            <ion-item style="width: 90%; --border-width: 0;">
                                <ion-input class="inputContato" placeholder="Título"></ion-input>
                            </ion-item>
                        </ion-row>
                        <ion-row>
                            <ion-item style="width: 90%; --border-width: 0;">
                                <ion-input class="inputContato" placeholder="E-mail"></ion-input>
                            </ion-item>
                        </ion-row>
                        <ion-row>
                            <ion-item style="width: 90%; --border-width: 0;">
                                <ion-textarea class="inputContato" style="--padding-start: 23px !important;" rows="10"
                                    placeholder="Sua mensagem..."></ion-textarea>
                            </ion-item>
                        </ion-row>
                    </ion-grid>
                </ion-col>
                <ion-col size="6">
                    <div>
                        <span class="spanTituloFale">Telefone:</span>
                        <div class="divLinhaEmbaixo"></div>
                        <p class="pContato">
                            <ion-icon class="iconTelefone" style="margin-right: 5px;" name="call"></ion-icon>
                            <span class="pContato">55 (28) 3521-2433 </span>
                        </p>
                    </div>
                    <div style="margin-top: 40px;">
                        <span class="spanTituloFale">Email:</span>
                        <div class="divLinhaEmbaixo"></div>
                        <p class="pContato">cimef@cimef.com.br</p>
                    </div>
                    <div style="margin-top: 40px;">
                        <span class="spanTituloFale">Redes Sociais:</span>
                        <div class="divLinhaEmbaixo"></div>
                        <div class="pContato">
                            <ion-icon class="iconFooter" name="logo-instagram"></ion-icon>
                            <ion-icon class="iconFooter" name="logo-facebook"></ion-icon>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</app-header-footer>