.divListaNoticias {
    padding-left: 150px;
    padding-right: 150px;
}

.pTituloNoticia {
    font-size: 50px;
    color: #666666;
    margin-block-end: 0;
    margin-left: 5px;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.gridNoticias {
    width: 100%;
}

.backgroundCinzaNoticia {
    height: 402px;
    width: 520px;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    top: 5px;
}

.imgNoticias {
    height: 402px;
    width: 520px;
}

.pTitulo {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 30px;
    font-size: 24px;
    font-weight: 500;
    width: 450px;
    text-align: justify;
    z-index: 99;
}

@media(max-width: 1700px) {
    .divListaNoticias {
        padding-left: 50px;
        padding-right: 50px;
    }

    .backgroundCinzaNoticia {
        width: calc(100% - 10px);
    }

    .pTituloNoticia {
        font-size: 40px;
    }
}


@media(max-width: 1000px) {
    .divListaNoticias {
        padding-left: 10px;
        padding-right: 10px;
    }
}