<ion-content>
    <div class="backgroundCinza">
        <div class="backgroundSlide">
        </div>
        <div>
            <ion-button fill="clear" class="buttonSlide">Home</ion-button>
            <ion-button fill="clear" class="buttonSlide">Empresa</ion-button>
            <ion-button fill="clear" class="buttonSlide">Produtos</ion-button>
            <ion-button fill="clear" class="buttonSlide">Assistência Técnica</ion-button>
            <ion-button fill="clear" class="buttonSlide">Depoimentos</ion-button>
            <ion-button fill="clear" class="buttonSlide">Vídeos</ion-button>
            <ion-button fill="clear" class="buttonSlide">Notícias</ion-button>
            <ion-button fill="clear" class="buttonSlide">Fale Conosco</ion-button>
        </div>
        <div>
            55 (28) 3521-2433
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>
                <p class="pProduto">CONHEÇA NOSSOS PRODUTOS</p>
                <p class="pDescricaoProduto">A Cimef é uma das maiores fabricantes de máquinas e soluções tecnológicas para o setor de rochas
                    ornamentais. Com seu parque industrial instalado no coração do principal centro produtor,
                    beneficiador e
                    exportador de rochas ornamentais do país - Cachoeiro de Itapemirim - Espírito Santo, a Cimef se
                    orgulha
                    de trabalhar para inovar na qualidade e tecnologia das máquinas que produz. Confira abaixo nossa
                    linha
                    de produtos.</p>

                <ion-button class="buttonSaibaMais">Saiba Mais</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="gridNoticias">
        <ion-row>
            <p>Confira as últimas notícias</p>
        </ion-row>
        <ion-row>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
            <ion-col>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-button>Acesse todas as notícias</ion-button>
        </ion-row>
    </ion-grid>
    <div>
        <p>Localização</p>
        <p>Acesse o mapa e saiba como chegar a nossa empresa.</p>
        <ion-button>Explorar no mapa</ion-button>
    </div>
    <ion-grid>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>

        </ion-col>
    </ion-grid>
</ion-content>