.divConteudo {
    padding-left: 150px;
}

//********************************************************************************************************
// SLIDE
//********************************************************************************************************

.pSlideNome {
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 40px;
    text-transform: uppercase;
}

.pSlideDescricao {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
}

.pSlideSubDescricao {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 20px;
}

.divSlideNome {
    position: absolute;
    color: white;
    text-align: initial;
    left: 150px;
    bottom: 150px;
}

.backgroundCinza {
    height: 850px;
    width: 1920px;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
}

//********************************************************************************************************
// PRODUTOS
//********************************************************************************************************

.buttonSaibaMais {
    --border-radius: 30px;
    font-size: 20px;
    height: 60px;
    width: 160px;
}

.pProduto {
    font-size: 50px;
    color: #666666;
}

.pDescricaoProduto {
    color: #666666;
    font-size: 18px;
}

.imgBarras {
    margin-left: -200px;
    position: absolute;
    top: calc(50% - 123px);
}

.divMaquina {
    height: 430px;
    position: absolute;
    top: calc(50% - 215px);
    width: 100%;
}

.imgMaquina {
    position: absolute;
    left: 0;
}

.divProduto {
    top: calc(50% - 279px);
    position: relative;
    padding-left: 50px;
}

//********************************************************************************************************
// NOTICIAS
//********************************************************************************************************

.gridNoticias {
    height: 680px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pNoticiaTitulo {
    font-weight: bold;
    font-size: 30px;
    color: #545454;
    text-align: center;
    width: 100%;
}

.buttonNoticia {
    --background: white;
    --box-shadow: none;
    width: 248px;
    height: 36px;
    text-transform: unset;
    color: #545454;
    --border-radius: 30px;
    border: 1px solid #545454;
    border-radius: 30px;
}

.backgroundCinzaNoticia {
    height: 402px;
    width: calc(100% - 30px);
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    top: 5px;
}

.imgNoticias {
    height: 402px;
    width: 520px;
    object-fit: cover;
}

.pTituloNoticia {
    position: absolute;
    bottom: 60px;
    color: #fff;
    left: 30px;
    font-size: 18px;
    font-weight: 500;
    width: 85%;
    z-index: 99;
}

.rowNoticia {
    padding-left: 150px;
    padding-right: 150px;
}

//********************************************************************************************************
// Localização
//********************************************************************************************************

.imgLocalizacao {
    height: 600px;
    width: 100%;
}

.divLocalizacao {
    height: 600px;
    width: 100%;
    position: relative;
}

.divLocalizacaoEscrita {
    text-align: center;
    height: 100px;
    width: 100%;
    top: calc(50% - 95px);
    position: absolute;
}

.pLocalizacao {
    font-weight: bold;
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.pLocalizacaoDescricao {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 500;
}

.buttonLocalizacao {
    margin-top: 30px;
    --background: white;
    color: black;
    height: 56px;
    width: 256px;
    font-size: 20px;
    --box-shadow: none;
    --border-radius: 30px;
    text-transform: none;
}

.divLocalizacaoAmarelo {
    background: rgba(255, 255, 0, 0.1);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

//********************************************************************************************************
// Footer
//********************************************************************************************************

.gridFooter {
    padding-left: 150px;
    padding-right: 150px;
    background: #262626;
    width: 100%;
    height: 583px;
    color: rgb(168, 168, 168);
}

.pMenuTitulo {
    font-size: 20px;
    font-weight: bold;
}

.divBordaTitulo {
    border-bottom: 1px solid rgb(168, 168, 168);
    width: 30px;
}

.pEndereco {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.iconFooter {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.colLogo {
    padding-top: 25px;
    text-align: right;
}

.imgBarrasFooter {
    position: absolute;
    right: 30px;
}

.divBarrasFooter {
    width: 100%;
    background: #262626;
    height: 30px;
}

.pDireitos {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}


.gridProduto {
    height: 690px;
    width: 1140px
}

.rowProduto {
    height: 690px
}

@media(max-width: 1700px) {
    .imgLogoTitulo {
        width: 200px;
    }

    .aSlide {
        font-size: 12px;
    }

    .divToolbar {
        padding-left: 50px;
        padding-right: 50px;
    }

    .divContato {
        font-size: 12px;
        right: 50px;
    }

    .divSlideNome {
        left: 50px;
        bottom: 100px;
    }

    .pSlideNome {
        font-size: 30px
    }

    .pSlideDescricao {
        font-size: 50px
    }

    .imgMaquina {
        left: 15%;
    }

    .pProduto {
        font-size: 30px;
    }

    .pDescricaoProduto {
        font-size: 16px;
    }

    .divProduto {
        padding-left: 70px;
    }

    .backgroundCinzaNoticia {
        width: calc(100% - 10px);
    }

    .rowNoticia {
        padding-left: 50px;
        padding-right: 50px;
    }

    .gridFooter {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width: 1000px) {
    .divToolbar {
        padding-left: 80px;
        padding-right: 80px;
    }

    .divSlideNome {
        left: 20px;
        bottom: 50px;
    }

    .pSlideNome {
        font-size: 20px;
    }

    .divProduto {
        padding-left: 10px;
        padding-right: 10px;
        top: 0;
    }

    .divSaibaMais {
        justify-content: center;
        display: flex;
    }

    .gridProduto {
        height: 490px;
        width: unset;
    }

    .rowProduto {
        height: 490px
    }

    .imgLocalizacao {
        object-fit: cover;
    }

    .rowNoticia {
        padding-left: 10px;
        padding-right: 10px;
    }

    .gridNoticias {
        width: 100%;
    }
}