<ion-content>
    <div>
        <ion-slides>
            <ion-slide *ngFor="let aux of listSlides">
                <img class="imgSlide" [src]="aux.url">
                <div class="backgroundCinza"></div>

                <div class="divSlideNome">
                    <p class="pSlideNome">{{aux.nome}}</p>
                    <p class="pSlideDescricao">{{aux.descricao}}</p>
                    <p class="pSlideSubDescricao">{{aux.subdescricao}}</p>
                </div>
            </ion-slide>
        </ion-slides>

        <div class="divToolbar">
            <div>
                <img class="imgLogoTitulo" src="../../assets/imgs/logo-cimef-branca.png">
            </div>
            <div class="divBotoes">
                <a class="aSlide">Home</a>
                <a class="aSlide">Empresa</a>
                <a class="aSlide">Produtos</a>
                <a class="aSlide">Assistência Técnica</a>
                <a class="aSlide">Depoimentos</a>
                <a class="aSlide">Vídeos</a>
                <a class="aSlide">Notícias</a>
                <a class="aSlide">Fale Conosco</a>
            </div>
            <div class="divContato">
                <div style="margin-right: 25px;">
                    <ion-icon class="iconTelefone" name="call"></ion-icon> 55 (28) 3521-2433
                </div>
                <div class="divBarrinha"></div>
                <div style="margin-left: 25px;">
                    <ion-icon class="iconContato" name="logo-instagram"></ion-icon>
                    <ion-icon class="iconContato" name="logo-facebook"></ion-icon>
                </div>
            </div>
        </div>

    </div>

    <ion-grid style="height: 690px">
        <ion-row style="height: 690px">
            <ion-col size="5">
                <div class="divMaquina">
                    <img class="imgBarras" src="../../assets/imgs/barras.png">
                    <img class="imgMaquina" src="../../assets/imgs/maquina.png">
                </div>
            </ion-col>
            <ion-col>
                <div class="divProduto">
                    <p class="pProduto">CONHEÇA NOSSOS PRODUTOS</p>
                    <p class="pDescricaoProduto">A Cimef é uma das maiores fabricantes de máquinas e soluções
                        tecnológicas para o setor de rochas ornamentais. Com seu parque industrial instalado no coração
                        do
                        principal centro produtor, beneficiador e exportador de rochas ornamentais do país - Cachoeiro
                        de
                        Itapemirim - Espírito Santo, a Cimef se orgulha de trabalhar para inovar na qualidade e
                        tecnologia
                        das máquinas que produz. Confira abaixo nossa linha de produtos.</p>

                    <ion-button class="buttonSaibaMais">Saiba Mais</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="gridNoticias">
        <ion-row>
            <p class="pNoticiaTitulo">Confira as últimas notícias</p>
        </ion-row>
        <ion-row style="padding-left: 150px; padding-right: 150px;">
            <ion-col *ngFor="let aux of listNoticias">
                <img class="imgNoticias" [src]="aux.imagem">
                <p class="pTituloNoticia">{{aux.titulo}}</p>
                <div class="backgroundCinzaNoticia"></div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col style="justify-content: center; display: flex;">
                <ion-button class="buttonNoticia">Acesse todas as notícias</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="divLocalizacao">
        <img class="imgLocalizacao" src="../../assets/imgs/mapa.png">
        <div class="divLocalizacaoAmarelo"></div>

        <div class="divLocalizacaoEscrita">
            <p class="pLocalizacao">Localização</p>
            <p class="pLocalizacaoDescricao">Acesse o mapa e saiba como chegar a nossa empresa.</p>
            <ion-button class="buttonLocalizacao">Explorar no mapa</ion-button>
        </div>
    </div>

    <ion-grid class="gridFooter">
        <ion-row style="margin-top: 80px">
            <ion-col>
                <p class="pMenuTitulo">MENU</p>
                <div class="divBordaTitulo"></div>

                <ul style="padding-inline-start: 20px; font-size: 14px">
                    <li>Home</li>
                    <li>Institucional</li>
                    <li>Equipamentos</li>
                    <li>Serviços</li>
                    <li>Notícias</li>
                    <li>Localização</li>
                    <li>Contato</li>
                </ul>
            </ion-col>
            <ion-col>
                <p class="pMenuTitulo">COMO CHEGAR</p>
                <div class="divBordaTitulo"></div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco">Av. Francisco Mardegan, 42 - Boa Vista</p>
                    <p class="pEndereco">Cachoeiro de Itapemirim - ES - Brasil</p>
                    <p class="pEndereco">CEP 29315-477</p>
                    <p class="pEndereco">Caixa Postal - 22</p>
                </div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco">Acesse o Mapa</p>
                </div>
            </ion-col>
            <ion-col>
                <p class="pMenuTitulo">ENTRE EM CONTATO</p>
                <div class="divBordaTitulo"></div>

                <div style="margin-top: 1em;">
                    <p class="pEndereco"> 55 28 3521-2433 </p>
                    <p class="pEndereco"> cimef@cimef.com.br </p>
                </div>

                <p class="pMenuTitulo" style="margin-top: 40px">MÍDIAS SOCIAIS</p>
                <div class="divBordaTitulo"></div>

                <div>
                    <ion-icon class="iconFooter" name="logo-instagram"></ion-icon>
                    <ion-icon class="iconFooter" name="logo-facebook"></ion-icon>
                </div>
            </ion-col>
            <ion-col class="colLogo">
                <img src="../../assets/imgs/logo-cimef-cinza.png">
                <div style="margin-top: 20px">
                    <p class="pDireitos">© 2019 Cimef Metalúrgica.</p>
                    <p class="pDireitos">Todos Direitos Reservados</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="divBarrasFooter">
        <img class="imgBarrasFooter" src="../../assets/imgs/footer-marca.png">
    </div>
</ion-content>