// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: semi-bold;
  font-weight: 600;
  src: url('assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url('assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-style: extra-bold;
  font-weight: 800;
  src: url('assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-style: bolder;
  font-weight: 900;
  src: url('assets/fonts/Montserrat/Montserrat-Black.ttf');
}

.buttonAlterar{
    border: 1px solid rgb(35, 207, 92);
    color: rgb(35, 207, 92);
    border-radius: 5px;
    --background: transparent;
    --transition: 0.5s;
    transition: 0.5s;
}

.buttonAlterar:hover{
    color: white;
    background: rgb(35, 207, 92);
    --transition: 0.5s;
    transition: 0.5s;
}

.buttonCancelar{
    border: 1px solid rgb(209, 44, 56);
    color: rgb(209, 44, 56);
    border-radius: 5px;
    --background: transparent;
    --transition: 0.5s;
    transition: 0.5s;
}

.buttonCancelar:hover{
    background: rgb(209, 44, 56);
    color: white;
    transition: 0.5s;
    --transition: 0.5s;
}

.modalAdicionarPosicao .modal-wrapper{
    width: 500px;
    height: 300px;
}

.modalAdicionarCategoria .modal-wrapper{
    width: 500px;
    height: 300px;
}

.modalAdicionarVideo .modal-wrapper{
    width: 500px;
    height: 400px;
}
//********************************************************************************************************
// TOOLBAR
//********************************************************************************************************

.divToolbar {
    position: absolute;
    top: 30px;
    z-index: 999;
    width: 100%;
    display: inline-flex;
    padding-left: 150px;
    padding-right: 150px;
}

.aSlide {
    color: white;
    font-size: 14px;
    margin-left: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.divBotoes {
    padding-top: 16px;
    width: 65%;
    text-align: center;
}

.divContato {
    display: inherit;
    color: white;
    font-size: 14px;
    margin-top: 10px;
    right: 150px;
    position: absolute;
}

.iconContato {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.iconTelefone {
    font-size: 20px;
    top: 5px;
    position: relative;
}

.divBarrinha {
    height: 40px;
    border-left: 1px solid white;
    margin-top: -5px;
}

//********************************************************************************************************
// Footer
//********************************************************************************************************

.gridFooter {
    padding-left: 150px;
    padding-right: 150px;
    background: #262626;
    width: 100%;
    height: 583px;
    color: rgb(168, 168, 168);
}

.pMenuTitulo {
    font-size: 20px;
    font-weight: bold;
}

.divBordaTitulo {
    border-bottom: 1px solid rgb(168, 168, 168);
    width: 30px;
}

.pEndereco {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.iconFooter {
    font-size: 30px;
    margin-top: 20px;
    margin-right: 10px;
}

.colLogo {
    padding-top: 25px;
    text-align: right;
}

.imgBarrasFooter {
    position: absolute;
    right: 30px;
}

.divBarrasFooter {
    width: 100%;
    background: #262626;
    height: 30px;
}

.pDireitos {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 14px;
}

.fabAdicionar{
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

.divSetaEsquerda {
    position: absolute;
    font-size: 70px;
    color: #2A3B72;
    top: 240px;
    left: -70px;
    cursor: pointer;
    z-index: 99;
}

.divSetaDireita {
    position: absolute;
    font-size: 70px;
    color: #2A3B72;
    top: 240px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
}