<app-header-footer style="height: 100%">
    <div class="divListaProdutos">

        <div>
            <p class="pTituloProduto">PRODUTOS</p>
            <div class="divLinhaEmbaixo"></div>
        </div>

        <ion-grid class="gridProdutos">
            <ion-row>
                <ion-col *ngFor="let aux of listProdutos" size="4" (click)="abrirProduto(aux)">
                    <img class="imgProdutos" [src]="aux.imagem">
                    <p class="pTitulo">{{aux.nome}}</p>
                    <div class="backgroundCinzaProduto"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</app-header-footer>