.divListaProdutos {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pTituloProduto {
    font-size: 50px;
    color: #666666;
    margin-block-end: 0;
    margin-left: 5px;
}

.divLinhaEmbaixo {
    border-bottom: 2px solid #666666;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.gridProdutos {
    width: 100%;
}

.backgroundCinzaProduto {
    height: 402px;
    width: calc(100% - 10px);
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    top: 5px;
}

.imgProdutos {
    height: 402px;
    width: 520px;
}

.pTitulo {
    position: absolute;
    bottom: 60px;
    color: white;
    left: 30px;
    font-size: 24px;
    font-weight: 500;
    width: 450px;
    text-align: justify;
    z-index: 99;
}

.divLinhaEmbaixoProduto {
    position: absolute;
    margin-top: 110px;
    width: 400px;
    border-bottom: 2px solid #666666;
    margin-left: 10px;
}

@media(max-width: 1700px) {
    .pTituloProduto {
        font-size: 40px;
    }

    .divListaProdutos {
        padding-left: 50px;
        padding-right: 50px;
    }

    .backgroundCinzaProduto {
        width: calc(100% - 10px);
    }

    .gridProdutos {
        margin-top: 50px;
    }
}

@media(max-width: 1000px) {
    .divListaProdutos {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

    .gridProdutos {
        margin-top: 30px;
    }

    .divLinhaEmbaixoProduto {
        width: 200px;
        margin-top: 90px;
    }
}